<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>

	<div class="border p-2" style="margin: 70px auto; width: 400px;">
		<form th:action="@{/login}" method="post">
		<h3 class="display-4 text-center">Iniciar</h3>
			<table  style="margin:auto;  width: 350px">
				<tr>
					<td>
					<label>Usuario:</label>
					<input type="text" class="form-control"/></td>
				</tr>

				<tr>
					<td>
					<label>Contraseña:</label>
					<input type="text" class="form-control mb-3" /></td>
				</tr>
			
			<tr><td><input type="submit" value="Iniciar" class="btn btn-primary btn-block mb-2"/></td></tr>
			</table>
			
		</form>
	</div>

</body>
</html>